---
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';

import image2 from '../photos/20250111_184042_A6602206.webp';
import image1 from '../photos/20250227_182608_A6700067.webp';

const photos = [
	{
		src: image2,
		alt: "Negima yakitori skewer from a party we had in January 2025. Negima is chicken thigh and negi or green onion if you don't have access to negi.",
		date: 20250111,
	},
	{
		src: image1,
		alt: 'Norris reluctantly poses for a photo while telling me he wants to race down a hill.',
		date: 20250227,
	},
];
---

<Layout />
<header>
	<h1><span>Photos</span> by Curtis</h1>
</header>
<main>
	<PhotoGallery photos={photos} />
</main>

<style>
	header {
		max-width: 1000px;
		margin: 0 auto;
	}

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 400;
		letter-spacing: -0.04em;
		margin: 1rem 0;
	}

	h1 span {
		font-weight: 700;
		color: rgb(236, 71, 0);
	}

	@media (max-width: 1000px) {
		h1 {
			margin: 1rem;
		}
	}
</style>
