---
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';

import image1 from '../photos/20250227_182608_A6700067.webp';

const photos = [
	{
		src: image1,
		alt: 'Norris reluctantly poses for a photo while telling me he wants to race down the hill',
		date: 20250227,
	},
];
---

<Layout />
<main>
	<h1>Photos by Curtis</h1>
	<PhotoGallery photos={photos} />
</main>

<style>
	main {
		max-width: 1000px;
		margin: 0 auto;
	}
</style>
