---
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';

import image7 from '../photos/20250425_100951_A670423.webp';
import image6 from '../photos/20250325_180602_A670198.webp';
import image5 from '../photos/20250322_174805_A670167.webp';
import image4 from '../photos/20250316_124943_A670133.webp';
import image3 from '../photos/20250302_151623_A6700091.webp';
import image2 from '../photos/20250111_184042_A6602206.webp';
import image1 from '../photos/20250227_182608_A6700067.webp';

const photos = [
	{
		src: image7,
		alt: 'After another session in the hotel pool, Norris gets wrapped in a towel and waits for his french fries and ketchup to arrive. Two years old and already living his best Cancun resort life.',
		date: 20250425,
	},
	{
		src: image6,
		alt: 'Two days before it was cold and rainy. The day after there was a thunderstorm and hail warning. Tuesday though was 80F and sunny, perfect for hanami with the whole family.',
		date: 20250325,
	},
	{
		src: image5,
		alt: 'This little wood stove kept us pretty warm in the yurt along Suttle Lake, even with the winds blowing and snow dumping from a storm in late March 2025.',
		date: 20250322,
	},
	{
		src: image4,
		alt: 'Boys day was taking the MAX green line downtown, eating some ramen, then taking the blue line MAX and bus 72 home.',
		date: 20250316,
	},
	{
		src: image3,
		alt: 'Mt. Scott Fuel along Foster Road in Southeast Portland.',
		date: 20250302,
	},
	{
		src: image2,
		alt: "Negima yakitori skewer from a party we had in January 2025. Negima is chicken thigh and negi or green onion if you don't have access to negi.",
		date: 20250111,
	},
	{
		src: image1,
		alt: 'Norris reluctantly poses for a photo while telling me he wants to race down a hill.',
		date: 20250227,
	},
];
---

<Layout />
<header>
	<h1>Photos<span> by Curtis</span></h1>
</header>
<main>
	<PhotoGallery photos={photos} />
</main>

<style>
	header {
		max-width: 1000px;
		margin: 0 auto;
	}

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 700;
		font-size: 2rem;
		color: rgb(236, 71, 0);
		letter-spacing: -0.04em;
		margin: 1rem 0;
	}

	h1 span {
		font-weight: 400;
		font-size: 1.2rem;
		color: rgb(0, 0, 0);
	}

	@media (max-width: 1005px) {
		h1 {
			margin: 0.5rem;
		}
	}
</style>
